{% extends 'base.html' %}
{% block content %}

<style>
.container-fluid {
    padding: 60px 50px;
}

.bg-grey {
    background-color: #f6f6f6;
}

.logo {
    font-size: 200px;
}
@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
}
</style>


<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8">
        <h1>{{ site.name }}</h1>
        <p class="lead">{{ about_us.desc }}</p>
    </div>
    <div class="col-lg-4">
      <img class="featurette-image img-responsive center-block" src="{{ about_us.logo.url }}" />
    </div>
  </div>
</div>

<div class="container-fluid bg-grey">
  <div class="row">
    <div class="col-lg-4">
      <span class="glyphicon glyphicon-globe logo"></span>
    </div>
    <div class="col-lg-8">
      <h1>我们的价值理念</h1>
      <p class="lead">{{ about_us.value }}</p>
    </div>
  </div>
</div>

<!--<div class="container-fluid text-center">-->
  <!--<h2>SERVICES</h2>-->
  <!--<h4>What we offer</h4>-->
  <!--<br>-->
  <!--<div class="row">-->
    <!--<div class="col-sm-4">-->
      <!--<span class="glyphicon glyphicon-off"></span>-->
      <!--<h4>POWER</h4>-->
      <!--<p>Lorem ipsum dolor sit amet..</p>-->
    <!--</div>-->
    <!--<div class="col-sm-4">-->
      <!--<span class="glyphicon glyphicon-heart"></span>-->
      <!--<h4>LOVE</h4>-->
      <!--<p>Lorem ipsum dolor sit amet..</p>-->
    <!--</div>-->
    <!--<div class="col-sm-4">-->
      <!--<span class="glyphicon glyphicon-lock"></span>-->
      <!--<h4>JOB DONE</h4>-->
      <!--<p>Lorem ipsum dolor sit amet..</p>-->
    <!--</div>-->
    <!--</div>-->
    <!--<br><br>-->
  <!--<div class="row">-->
    <!--<div class="col-sm-4">-->
      <!--<span class="glyphicon glyphicon-leaf"></span>-->
      <!--<h4>GREEN</h4>-->
      <!--<p>Lorem ipsum dolor sit amet..</p>-->
    <!--</div>-->
    <!--<div class="col-sm-4">-->
      <!--<span class="glyphicon glyphicon-certificate"></span>-->
      <!--<h4>CERTIFIED</h4>-->
      <!--<p>Lorem ipsum dolor sit amet..</p>-->
    <!--</div>-->
    <!--<div class="col-sm-4">-->
      <!--<span class="glyphicon glyphicon-wrench"></span>-->
      <!--<h4>HARD WORK</h4>-->
      <!--<p>Lorem ipsum dolor sit amet..</p>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<hr class="featurette-divider">
{% endblock content %}