{% extends 'base.html' %}
{% block content %}

<style>
    .container-fluid {
    padding: 60px 50px;
    }

    .bg-grey {
    background-color: #f6f6f6;
    }

    .logo {
    color: #f4511e;
    font-size: 200px;
    }

    @media screen and (max-width: 768px) {
    .col-sm-4 {
    text-align: center;
    margin: 25px 0;
    }
    }
</style>


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8">
            <h1>{{ site.name }}</h1>
            <p class="lead">{{ about_us.desc }}</p>
        </div>
        <div class="col-lg-4">
            <img class="featurette-image img-responsive center-block" src="{{ about_us.logo.url }}" />
        </div>
    </div>
</div>

<div class="container-fluid bg-grey">
    <div class="row">
        <div class="col-lg-4">
            <span class="glyphicon glyphicon-globe logo"></span>
        </div>
        <div class="col-lg-8">
            <h1>我们的价值理念</h1>
            <p class="lead">{{ about_us.value }}</p>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8">
            <h1>客户对我们的评价</h1>
            <p class="lead">{{ about_us.comment }}</p>
        </div>
        <div class="col-lg-4">
            <span class="glyphicon glyphicon-user logo"></span>
        </div>
    </div>
</div>
<hr class="featurette-divider">
{% endblock content %}